* {
    box-sizing: border-box;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F2FDFF, #D2D2D2);
    padding-bottom: 20px;

    
}
